/*  MOBILE FIRST */
.cards {
    width: 100%;
    background-color: white;

    a {
        color: #3d3c3c;
        text-decoration: underline;
    }

    a:hover {
        text-decoration: none;
        background-color: #000;
        color: #fff;
    }

    h4 {
        text-transform: uppercase;
        text-align: center;
    }

    ul li {
        font-size: 0.7rem;
        margin: 2%;
    }

    @media screen and (min-width: 361px) {
            padding: 1%;
            display: inline block;
            width: 28%;
            float: left;
            margin: 1.5%;
    }
}

