/*  MOBILE FIRST */
.cards {
    padding: 15px;
    background-color: white;
    box-shadow: 1px 4px rgb(223, 223, 223);
    border-radius: 10px;
    margin-top: 20px;

    a {
        color: #3d3c3c;
        text-decoration: underline;

        :hover {
        text-decoration: none;
        background-color: #000;
        color: #fff;
        }
    }

    h3 {
        text-transform: uppercase;
    }

    ul li {
        font-size: 0.7rem;
        margin: 2%;
    }

    @media screen and (min-width: 361px) {
            padding: 1%;
            display: inline block;
            width: 28%;
            height: 170px;
            float: left;
            margin: 1.5%;
    }
}

#card-categories {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

