/*  MOBILE FIRST */
.cards {
    width: 100%;
    background-color: white;

    ul li {
        display: block;
        margin-top: 1%;
    }

    a:hover {
        background-color: red;
    }

    @media screen and (min-width: 361px) {
            padding: 1%;
            display: inline block;
            width: 28%;
            float: left;
            margin: 1.5%;
    }
}

/* MOBILE-FIRST APPROACH */

h4 {
    text-transform: uppercase;
    text-align: center;
}

#card-categories {
    font-size: 0.8em;
    text-align: center;
    padding: 0px;
}

.icon {
    color: rgb(167, 165, 165);
    text-align: center;
    font-size: 2rem;
}

